/**/

body {
    background-image:url('/css/themes/microphone.jpg') !important;
    background-size: cover;
    background-position: 25% 75%;
}

.ui-page { 
  background: transparent;
}

.ui-content{
    background: transparent;
}

h1 { 
    text-overflow:initial !important;
}

.helptext { color:yellow; font-style: italic; }

.song {
    margin-bottom: 20px;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    background-color:rgba(100, 0, 200, 0.75);
}
.song img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.song button {
    padding: 5px 10px;
    cursor: pointer;
    width:100%;
}
